* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

.App {
	background: #a37f6fd0;
	text-align: center;
}

.container {
	max-width: 90%;
	margin: 10% auto;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 1rem;
}

.container .grid-block {
	border: 3px solid #ccc;
	padding: 1rem;
}

.menu_component {
	list-style-type: none;
	border: 1px solid black;
	padding: 1rem;
	margin: 1rem 0;
}

.delete-btn {
	cursor: pointer;
	background-color: #e74c3c;
	border: 0;
	color: #fff;
	font-size: 20px;
	line-height: 20px;
	padding: 2px 5px;
	position: absolute;
	top: 50%;
	right: 0;
	transform: translate(110%, -50%);
	opacity: 0;
	transition: opacity 0.3s ease-in;
}

.menu-item {
	transition: opacity 0.2s ease;
}

.menu-item:hover .delete-btn {
	opacity: 1;
}

.menu-item:hover {
	opacity: 0.7;
}
